# DB Config
[database_config]

#### AKMRA
host = akmra2019-db.cl10fckcdxd8.ap-southeast-1.rds.amazonaws.com
username = adminakmra
password = akmra2019
database= ibccases

[update]
# change this to 9999 if all the pages need to be scanned for loading the delta value
delta_from_page = 120
judgement_from_date = 01-06-2019

[log]
application_log_location = ../logs/application.log
error_log_location = ../logs/error.log

[url]


[sql]
judgment_fetch_links = SELECT ID, FILE_NAME, LINK, JUDGEMENT_DATE FROM JUDGEMENT_MASTER_DATA WHERE IS_FILE_DOWNLOADED = 'N' AND IS_VALID_LINK IS NULL AND SOURCE = %%s AND BENCH_COURT = %%s
judgement_update_file_status = UPDATE JUDGEMENT_MASTER_DATA SET IS_FILE_DOWNLOADED = 'Y', IS_VALID_LINK = 'Y' WHERE ID = %%s
judgement_update_file_status_invalid = UPDATE JUDGEMENT_MASTER_DATA SET IS_VALID_LINK = 'N', FILE_NAME = NULL WHERE ID = %%s

judgements_fetch_file_names = SELECT FILE_NAME FROM JUDGEMENT_MASTER_DATA WHERE CASE_NO = %%s AND PETITIONER_NAME = %%s AND JUDGEMENT_DATE = %%s AND BENCH_COURT = %%s AND SOURCE = %%s
judgements_fetch_existing_file_names = SELECT FILE_NAME FROM JUDGEMENT_MASTER_DATA WHERE FILE_NAME = %%s AND SOURCE = %%s
insertjudgments_sql = INSERT INTO JUDGEMENT_MASTER_DATA(CASE_NO, PETITIONER_NAME, JUDGEMENT_DATE, LINK, BENCH_COURT, FILE_NAME, SOURCE) VALUES ('{}','{}', '{}', '{}', '{}', '{}', '{}')
judgement_lastupdated_record = SELECT CONCAT(CASE_NO, PETITIONER_NAME, JUDGEMENT_DATE) FROM JUDGEMENT_MASTER_DATA WHERE ID=(SELECT MAX(ID) FROM JUDGEMENT_MASTER_DATA WHERE SOURCE = %%s AND BENCH_COURT = %%s) AND SOURCE = %%s AND BENCH_COURT = %%s

judgements_fromDate = SELECT MAX(JUDGEMENT_DATE) FROM JUDGEMENT_MASTER_DATA WHERE SOURCE = %%s AND BENCH_COURT = %%s

[source]
source_nclt = NCLT
source_nclat = NCLAT
source_supreme = SUPREME

[path]
pdf_extn = .pdf
pdf_output_path_nclt = ../../data/nclt/
pdf_output_path_nclat = ../../data/nclat/
pdf_output_path_supreme = ../../data/supreme/

[bench]
benches = Principal Bench:New Delhi Bench Court-II:New Delhi Bench Court-III:New Delhi Bench Court-IV:Registrar NCLT:Ahmedabad Bench:Allahabad Bench:Bengaluru Bench:Chandigarh Bench:Chennai Bench:Guwahati Bench:Hyderabad Bench:Kolkata Bench:Mumbai Bench:Jaipur Bench:Cuttack Bench:New Delhi Bench Court-V:New Delhi Bench Court-VI:Amaravati Bench Court:Kochi Bench:Indore Bench

Principal Bench=5365
New Delhi Bench Court-II = 5366
New Delhi Bench Court-III = 5367
New Delhi Bench Court-IV = 5368
Registrar NCLT = 5369
Ahmedabad Bench = 5370
Allahabad Bench = 5371
Bengaluru Bench = 5372
Chandigarh Bench = 5373
Chennai Bench = 5374
Guwahati Bench = 5375
Hyderabad Bench = 5376
Kolkata Bench = 5377
Mumbai Bench = 5378
Jaipur Bench = 119125
Cuttack Bench = 364886
New Delhi Bench Court-V = 512971
New Delhi Bench Court-VI = 512972
Amaravati Bench Court = 520868
Kochi Bench = 582307
Indore Bench = 678670

[judicial]
judicialbodies = NCLT